@use "_variables" as v;


.section-title {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: 700;
    color: v.$wg-primary;
}

/* --- PDF Viewer Section --- */
#resume-viewer-container {
    max-width: 850px; /* Standard paper width ratio */
    margin: 0 auto;
    background: v.$wg-bg-white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
}
#pdf-canvas {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    border-radius: 4px;
}
#pdf-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
#page-info {
    font-weight: 500;
    color: v.$wg-text-light;
    // color: var(--neutral-text);
}
#pdf-controls .btn {
    min-width: 120px;
}

#btn-accent-custom {
            background-color: v.$wg-accent;
        }

#print-resume-btn {
    background-color: v.$wg-primary;
    color: v.$wg-text-light;
    
}

#print-resume-btn:hover {
    background-color: v.$wg-primary-light;
}

.btn-accent-custom:hover {
    background-color: v.$wg-accent-light;
}


@media print {
  /* Hide every element on the page by default */
//   body * {
//     visibility: hidden;
//   }

  /*
   * Make the canvas, and its parent elements, visible.
   * This ensures the resume is the ONLY thing that shows up.
  */
  #pdf-canvas, #pdf-canvas * {
    visibility: visible;
    border: none;
  }

  /* Position the canvas at the top-left of the print page */
  #pdf-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 98vh;
  }
}